.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    height: 350px;
}

video{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tache-histoire{
    background-image: url("../images/accueil/Tache.png");
    width: 400px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: 0% 70%;
    text-align: center;
    padding: 40px 85px 75px 30px;
    margin: 5px;
    font-size: 36px;
    position: absolute;
    top: 150px;
}

.tache-histoire a{
    color: white;
}

#alaune{
    margin: 20px;
}

#alaune h2 {
    background-image: url("../images/accueil/Tache_a_la_une.png");
    background-repeat: no-repeat;
    background-position: 0% 70%;
    width: 250px;
    height: 50px;
    padding: 30px 45px 30px 55px;
    margin: 5px;
    color: white;
    font-size: 36px;
}

#alaune .logo{
    align-content: center;
    position: relative;
    top: 50px;
}

#nouveautes{
    margin: 20px;
}

#nouveautes h2 {
    background-image: url("../images/accueil/Tache_nouveautes.png");
    background-repeat: no-repeat;
    background-position: 0% 70%;
    width: 250px;
    height: 50px;
    padding: 30px 45px 30px 55px;
    margin: 5px;
    color: white;
    font-size: 36px;
}

#nouveautes .logo{
    align-content: center;
    position: relative;
    top: 50px;
}

.precategorie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.precategorie img{
    margin-right: 50px;
}

.categorie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.parent{
    position: relative;
}

.couverture {
    width: 250px;
    height: auto;
    transition: opacity 0.3s ease; 
}

.couverture:hover {
    opacity: 0.8;
}

.indice {
    background-image: url("../images/repertoire/Indice\ de\ participants.png");
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 16px 13px 16px 42px;
    height: 18px;
    width: 56px;
    text-align: center;
    position: absolute;
    bottom: 45px;
    right: -15px;
}
.titre{ /* titre d'une histoire */
    font-size: 16px;
    text-align: center;
    margin-top: 9px;
    padding: 9px 0px 9px 0px;
    width: 250px;
    background: rgba(194, 194, 194, 1);
}

.separateur {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gagnant{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.titre-gagnant{
    font-size: 24px;
    text-align: center;
    background: rgba(194, 194, 194, 0.70);
    width: 960px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

iframe{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 960px;
    height: 520px;
}

.background{
    background-image: url("../images/accueil/Background-accueil.png");
}